@import "../../index.scss";

.card {
  background-color: setColors("lighter-dark");
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: 6px solid transparent;
  &:hover {
    // background-color: #67a9ff61;
    background-color: setColors("accent-1");
    border: 6px solid setColors("lighter-dark");
  }
  .avatar {
    @include avatar(114px, 92px);
    font-size: 250%;
  }
  .txt {
    .prefix {
      @include prefix;
    }
    .name {
      padding: 0.5rem;
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      color: #fff;
      display: inline-block;
    }
    .role {
      font-weight: 400;
      font-size: 14px;
      text-transform: capitalize;
      color: #fff;
      margin: 0;
      margin-top: 1rem;
    }
  }
}
