@import "../../index.scss";

.primaryButton {
  border: 0;
  outline: 0;
  padding: 16px 16px;
  background-color: setColors("accent-1");
  border-radius: 15px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.6px;
  font-size: 20px;
  text-transform: capitalize;
  width: 100%;
  margin: 2rem 0;
  cursor: pointer;
  &:hover {
    background-color: setColors("accent-2");
  }
}

.mainAlert {
  display: flex;
  .avatar {
    @include avatar(350px, auto);
    border: 6px solid setColors("lighter-dark");
    font-size: 700%;
    margin: 0 auto;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .body {
    width: 40%;
    margin: 0 auto;
    @media (max-width: 600px) {
      width: 60%;
    }
    .board {
      background-color: setColors("lighter-dark");
      border-radius: 16px;
      padding: 4rem 3rem;
      text-align: center;
      .prefix {
        @include prefix;
      }
      .name {
        font-size: 250%;
        font-weight: 700;
        margin: 0;
        color: #fff;
        padding-top: 1rem;
        text-transform: capitalize;
        letter-spacing: -1.5px;
      }
    }
    .msg {
      width: 80%;
      margin: 1rem auto;
      p {
        font-size: 300%;
        font-weight: 700;
        color: setColors("success");
        text-align: center;
        letter-spacing: -1.5px;
        margin: 0;
      }
    }
  }
}

.closeAlert {
  position: absolute;
  top: -40px;
  right: -38px;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80px;
    height: auto;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  opacity: 0.88;
}
